[submodule "3rd/LASzip"]
    path = 3rd/LASzip
    url = https://github.com/LASzip/LASzip.git
[submodule "3rd/libserial"]
    path = 3rd/libserial
    url = https://github.com/crayzeewulf/libserial.git
[submodule "3rd/minmea"]
    path = 3rd/minmea
    url = https://github.com/kosma/minmea.git
